{% assign projects = site.data.data.projects %}
{% if projects %}
<section class="section projects-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-archive fa-stack-1x fa-inverse"></i>
    </span>
    {{ projects.title }}
  </h2>

  {% if projects.intro %}
  <div class="intro">
    <p>{{ projects.intro }}</p>
  </div><!--//intro-->
  {% endif %}

  {% for project in projects.assignments %}
  <div class="item">

    <div class="meta">

      <div class="upper-row">
        <div class="project-title">
          {% if project.link %}
          <a href="{{ project.link }}" target="_blank">{{ project.title }}</a>
          {% else %}
          {{ project.title }}
          {% endif %}
        </div>
        <div class="time">{{ project.time }}</div>
      </div><!--//upper-row-->

      {% if project.description %}
      <div class="project-description">{{ project.description }}</div>
      {% endif %}

    </div>

    {% if project.details %}
    <div class="details">
      {{ project.details | markdownify }}
    </div><!--//details-->
    {% endif %}

  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
